body {
    min-width: 1020px;
    min-height: 1020px;
    background-image: linear-gradient(#128aa7, #128aa7 30px, #5ef0ff 30px, #5ef0ff 31px, #12cde1 31px, #fff 177px, #41c6d3 177px, #0c739f);
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    border-bottom: 3px solid #031d28;
    box-shadow: -1px 0px 7px #1f7784, 1px 0px 7px #1f7784;
}

header {
    position: relative;
    top: 10px;
    height: 177px;
    background: url(../img/logo.png) 28px 0 no-repeat;
}

.contacts {

	position: absolute;
	right: 34px;
	width: 129px;
    font-size: 12px;
    font-family: "Tahoma", sans-serif;
    color: rgba(18, 138, 167, 0.8);
    line-height: 1.4;
}

.contacts b {
	
	font-size: 13px;
	text-shadow: 0px 0px 0px rgba(18, 138, 167, 0.8);
	
}

.country {
    position: absolute;
    right: 30px;
    bottom: 20px;
}

.country li {
    float: left;
    width: 60px;
    text-align: center;
}

.countryItem {
    font-size: 10px;
    font-family: "Tahoma", sans-serif;
    color: rgb(18, 138, 167);
    line-height: 1.2;
}

.image {
    background: url(../img/photo.png) no-repeat;
    height: 235px;
    border-top: 1px solid #138aa7;
    border-bottom: 1px solid #138aa7;
}


nav {
	position:relative;
	z-index: 1;
	height: 28px;
	background-color: #343434;
	border-top: 1px solid #cacbcb;
	border-bottom: 1px solid black;
	box-shadow: 0 1px 6px black;
}

nav .menu {

	width: 87.5%;
	margin: 0 auto;
	text-align: center;
}

.menu li {
	
	
	padding-right:12px;
	margin-right: 47px;
	text-align: center;
	float:left;
	text-shadow: -1px 0 2px #aeaeae;
	font-size: 14px;
    font-family: "Tahoma";
    line-height: 28px;
    color:white;

}

.menuItem {

	text-decoration: none;
	color:inherit;
	
}

.menuItemDropdown {

	background: url(../img/white_triangle.png) right center no-repeat;
	position: relative;

}

.submenu {

	display: none;
	position: absolute;
	width: 125px;
	top: 29px;
	left: 0;
	background-color: #303030;
	border-top: 1px solid black;
	box-shadow: 0 3px 8px #303030;
}
.submenu li {
	display: block;
	float: none;
	margin: 0;
	padding: 0;
	text-align: left;
	padding-left: 10px;
}

.submenuItem {
 
 text-decoration: none;
 color:inherit;
	

}
.menuItemDropdown:hover .submenu {

	display: block;
}

main {

	overflow: hidden;
	position:relative;


}

main .content {
	
	float: left;
	width: 57%;
	
	
	padding-top: 10px;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}

main .info {


	width: 21%;
	float:left;
	border-right: 1px solid #c7cacf;
	background-color: #edeef0;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}


main .news {


	width: 21%;
	float: right;
	border-left: 1px solid #c7cacf;
	background-color: #edeef0;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}

main h2 {

	padding-top: 10px;
	text-align: center;
	color: #424c43;
	font-size: 16px;
  	font-family: "Tahoma";
  	font-weight: bold;
  	line-height: 1.2;

}

main p {

	width: 85%;
	margin: 0 auto;
	color: #424c43;
	font-size: 14px;
  	font-family: "Tahoma";
  	line-height: 1.714;

}

footer {
	
	height: 30px;
	font-size: 12px;
	font-family: "Tahoma";
  	color: rgba(255, 255, 255, 0.8);
  	line-height: 30px;
	text-align: center;
}