* {
    margin: 0;
    padding: 0;
}

body {
    width: 1060px;
    margin: 0 auto;
    padding-bottom:60px;
    box-shadow: 2px 0 3px #c8c8c8, 
    			-2px 0 3px #c8c8c8;
}

a {

	text-decoration: none;
	color:black;
}



.center {
    width: 966px;
    margin-left: auto;
    margin-right: auto;
}

header {

	background: url(../img/logo.png) 0 50px no-repeat #FFF;
	padding-top: 130px;

}
.topMenu {
	
	width:100%;
	height: 40px;
	background-color: #4f4f4f;

}
ul {

	list-style-type: none;


}
li.nav {

	display:inline-block;
	width:100px;
	margin-right:20px;
	text-align: center;

}
.topMenu .nav:nth-child(2) {

	background-color: #3f3f3f;
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;


}
.topMenu .topItem {
	
	color:white;
	font-size: 15px;
  	font-family: OpenSans, Arial, sans-serif ;
  	line-height: 40px;
}

.sidebar {

	width:240px;
	
	font-size: 13px;
  	font-family: OpenSans, Arial, sans-serif ;
  	border: 1px solid #c8c8c8;
  	margin-top:40px;
  	float: left;
}


.sidebar li {

	height: 40px;
	padding-left:24px;
	line-height: 40px;
	border-bottom: 1px solid #c8c8c8;
	color:#656363;
	
	
}
.sidebar .sidebarItem {

	color:inherit;

}
.sidebar li:nth-child(3){

	padding-left:34px;
	color:#2c2c2c;
}
.sidebar li:last-child {

	border-bottom: 0px;
}

.sidebar a {

	display:block;

}

.product {

	width: 678px;
	display:inline-block;
	margin-left:46px;
}

.product .image {

	border:1px solid #c8c8c8;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;	
}

.product .productText {

	width: 629px;
	margin:0 auto;
	color:#2c2c2c;
	font-family: OpenSans, Arial, sans-serif;
	line-height: 1.6;
	text-align: left;
}

footer {
	
	height: 40px;
	margin-top:40px;
	background-color:#e1e1e1;
	
	font-family: OpenSans, Arial, sans-serif;
	font-size:13px;
	line-height: 40px;
	

}
.bottomMenuList {

	width:528px;
	display:inline-block;
}

.bottomMenuList .bottomItem {

	color:#2c2c2c;
}

.bottomMenuList .nav:nth-child(2)  {

	text-decoration: underline;

}

footer span {

	width: 409px;
	display: inline-block;
	text-align: right;
	padding-right: 25px;
}